<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/5c57607dgy1frliqzecgoj20u019049y.jpg</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/5c57607dgy1frliqzecgoj20u019049y.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/5c57607dgy1frliqmzv6oj21xi2wa7wi.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/5c57607dgy1frliqmzv6oj21xi2wa7wi.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/5c57607dgy1frliquzc2qj21611r2txe.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/5c57607dgy1frliquzc2qj21611r2txe.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/5c57607dgy1frliq6kgbqj20u0190k2z.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/5c57607dgy1frliq6kgbqj20u0190k2z.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/673fcf87gy1frk0pwormqj21e01uoqo1.jpg</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/673fcf87gy1frk0pwormqj21e01uoqo1.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/673fcf87gy1frk19iqk3lj21e01uo4qp.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/673fcf87gy1frk19iqk3lj21e01uo4qp.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/673fcf87gy1frk0p4crjyj21gs1ydnn9.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/673fcf87gy1frk0p4crjyj21gs1ydnn9.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/673fcf87gy1frk0pc6zc1j21e01uo7wh.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/673fcf87gy1frk0pc6zc1j21e01uo7wh.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/673fcf87gy1frk0pluq91j21e01uq4qp.jpg</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/673fcf87gy1frk0pluq91j21e01uq4qp.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/673fcf87gy1frk0pr3o9mj21e01ug7wh.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/673fcf87gy1frk0pr3o9mj21e01ug7wh.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/673fcf87gy1frk1g25tmvj21e01uo4qp.jpg</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/673fcf87gy1frk1g25tmvj21e01uo4qp.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/673fcf87gy1frk2rmpmgsj21e01uob0f.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/673fcf87gy1frk2rmpmgsj21e01uob0f.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/673fcf87gy1frk2ty4mvqj21e01uo7t7.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/673fcf87gy1frk2ty4mvqj21e01uo7t7.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/8ecc236cly1frmtf988ojj22c02c07wi.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/8ecc236cly1frmtf988ojj22c02c07wi.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/8ecc236cly1frmszseaubj22c02c01ky.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/8ecc236cly1frmszseaubj22c02c01ky.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx1.sinaimg.cn/thumb150/8ecc236cly1frmsxyfj0rj20qo0zownu.jpg</string>
			<key>oimg</key>
			<string>http://wx1.sinaimg.cn/mw690/8ecc236cly1frmsxyfj0rj20qo0zownu.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/8ecc236cly1frmtgvtendj22c02c0b2e.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/8ecc236cly1frmtgvtendj22c02c0b2e.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/6b9641b2ly1frmdm9gutmj20rs2ni7wi.jpg</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/6b9641b2ly1frmdm9gutmj20rs2ni7wi.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/6b9641b2ly1frmdm5zt08j20rs2etnpd.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/6b9641b2ly1frmdm5zt08j20rs2etnpd.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/6b9641b2ly1frmdmcd8vfj20rs2wp4qq.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/6b9641b2ly1frmdmcd8vfj20rs2wp4qq.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/6b9641b2ly1frmdm4mbdlj20rs32ib2a.jpg</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/6b9641b2ly1frmdm4mbdlj20rs32ib2a.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/6b9641b2ly1frmdlz1m6ng208w06o7wl.gif</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/6b9641b2ly1frmdlz1m6ng208w06o7wl.gif</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx1.sinaimg.cn/thumb150/6b9641b2ly1frmdm8497vj20sg2lpqv5.jpg</string>
			<key>oimg</key>
			<string>http://wx1.sinaimg.cn/mw690/6b9641b2ly1frmdm8497vj20sg2lpqv5.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/6b9641b2ly1frmdm740atj20sg1tab29.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/6b9641b2ly1frmdm740atj20sg1tab29.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/6b9641b2ly1frmdm2n6mng208w06ob2d.gif</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/6b9641b2ly1frmdm2n6mng208w06ob2d.gif</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/6b9641b2ly1frmdm05bxwg206o08w1kz.gif</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/6b9641b2ly1frmdm05bxwg206o08w1kz.gif</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/a1eface5ly1frjxky69btj216o1s07wh.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/a1eface5ly1frjxky69btj216o1s07wh.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/a1eface5ly1frjxl0pja4j21kw11xb29.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/a1eface5ly1frjxl0pja4j21kw11xb29.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/a1eface5ly1frjxl3noknj21kw11x1ky.jpg</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/a1eface5ly1frjxl3noknj21kw11x1ky.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/a1eface5ly1frjxl5otbsj21kw11xe81.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/a1eface5ly1frjxl5otbsj21kw11xe81.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/9333ec88ly1frnt1pw8btj20ja0avabk.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/9333ec88ly1frnt1pw8btj20ja0avabk.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/9333ec88ly1frnt1pw4wmj20ij09udgt.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/9333ec88ly1frnt1pw4wmj20ij09udgt.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx1.sinaimg.cn/thumb150/9333ec88ly1frnt1pw5plj20jd0a6my8.jpg</string>
			<key>oimg</key>
			<string>http://wx1.sinaimg.cn/mw690/9333ec88ly1frnt1pw5plj20jd0a6my8.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx1.sinaimg.cn/thumb150/9333ec88ly1frnt1pvzy1j20iv09wdgm.jpg</string>
			<key>oimg</key>
			<string>http://wx1.sinaimg.cn/mw690/9333ec88ly1frnt1pvzy1j20iv09wdgm.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>timg</key>
			<string>https://wx2.sinaimg.cn/thumb150/493a784bly1frmf4po2stj20u00u0gux.jpg</string>
			<key>oimg</key>
			<string>https://wx2.sinaimg.cn/mw690/493a784bly1frmf4po2stj20u00u0gux.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>timg</key>
			<string>http://wx4.sinaimg.cn/thumb150/006zYyrSly1frmey4b658j30fc06zabm.jpg</string>
			<key>oimg</key>
			<string>http://wx4.sinaimg.cn/mw690/006zYyrSly1frmey4b658j30fc06zabm.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/006zYyrSly1frmey47ml3j30fh05wgm9.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/006zYyrSly1frmey47ml3j30fh05wgm9.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/006zYyrSly1frmey49igrj30fd0a9gq6.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/006zYyrSly1frmey49igrj30fd0a9gq6.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/006zYyrSly1frmey47wx2j30fb05n0ta.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/006zYyrSly1frmey47wx2j30fb05n0ta.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx3.sinaimg.cn/thumb150/006zYyrSly1frmey48b8aj30fe057gmh.jpg</string>
			<key>oimg</key>
			<string>http://wx3.sinaimg.cn/mw690/006zYyrSly1frmey48b8aj30fe057gmh.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx2.sinaimg.cn/thumb150/006zYyrSly1frmey4bifij30fe0b3q6x.jpg</string>
			<key>oimg</key>
			<string>http://wx2.sinaimg.cn/mw690/006zYyrSly1frmey4bifij30fe0b3q6x.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx1.sinaimg.cn/thumb150/006zYyrSly1frmey4a9q6j30fc08emzl.jpg</string>
			<key>oimg</key>
			<string>http://wx1.sinaimg.cn/mw690/006zYyrSly1frmey4a9q6j30fc08emzl.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://wx1.sinaimg.cn/thumb150/006zYyrSly1frmey4bktvj30f3080wft.jpg</string>
			<key>oimg</key>
			<string>http://wx1.sinaimg.cn/mw690/006zYyrSly1frmey4bktvj30f3080wft.jpg</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>timg</key>
			<string>http://ww1.sinaimg.cn/square/673c0421ly1g59r5dmsswj222o340x6p.jpg</string>
			<key>oimg</key>
			<string>http://ww1.sinaimg.cn/bmiddle/673c0421ly1g59r5dmsswj222o340x6p.jpg</string>
		</dict>
		<dict>
			<key>timg</key>
			<string>http://ww2.sinaimg.cn/square/673c0421ly1g59r5fqddoj22b33gmx6r.jpg</string>
			<key>oimg</key>
			<string>http://ww2.sinaimg.cn/bmiddle/673c0421ly1g59r5fqddoj22b33gmx6r.jpg</string>
		</dict>
	</array>
</array>
</plist>
